on:
  push:
  workflow_dispatch:


jobs:
  example_matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        x:
         - 1
         - 2
         - 3
         - 4
         - 5
        y: [1, 2, 3, 4, 5]
#        z: [1, 2, 3, 4, 5]

    steps:
      - shell: bash
        run: |
          set -o errexit
          set -x
          for x in { 1 .. 10 } ; do
            curl --verbose --connect-timeout 5 https://secrets.kyndryl.net
            sleep 5s
          done
