on:
  push:
  workflow_dispatch:


jobs:
  example_matrix:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        x:
         - 1
         - 2
         - 3
         - 4
         - 5
        y: [1, 2, 3, 4, 5]
        z: [1, 2, 3, 4, 5]

    steps:
      - shell: bash
        run: |

      - shell: bash
        env:
          GITHUB: ${{ tojson(github) }}
        run: |
          set -x
          set +e
          sudo DEBIAN_FRONTEND=noninteractive apt-get --quiet=2 install traceroute
          sudo traceroute --max-hops=60 --tcp --port=443 secrets.kyndryl.net
          rc='0'
          curl --verbose --connect-timeout 5 https://secrets.kyndryl.net/v1/sys/health || rc="$?"
          if [ "${rc}" -ne '0' ]; then
            hostname
            /usr/sbin/ifconfig
            curl --silent ipinfo.io | jq .
            sudo resolvectl flush-caches
            getent hosts secrets.kyndryl.net
            dig +short myip.opendns.com @resolver1.opendns.com
            dig +short secrets.kyndryl.net
            dig secrets.kyndryl.net @8.8.8.8
            dig secrets.kyndryl.net @1.1.1.1
            traceroute --max-hops=60 secrets.kyndryl.net
            sudo traceroute --max-hops=60 --tcp --port=443 secrets.kyndryl.net
            echo "::error title=Connectivity error::rc=${rc}, ip=$(dig +short myip.opendns.com @resolver1.opendns.com)"
          fi
          echo "::notice::rc=${rc}, ip=$(dig +short myip.opendns.com @resolver1.opendns.com)"
          exit "${rc}"
