on:
  push:
  workflow_dispatch:


jobs:
  example_matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        x:
         - 1
         - 2
         - 3
         - 4
         - 5
        y: [1, 2, 3, 4, 5]
        z: [1, 2, 3, 4, 5]

    steps:
      - shell: bash
        run: |

      - shell: bash
        env:
          GITHUB: ${{ tojson(github) }}
        run: |
          set -x
          jq . <<<"${GITHUB}"
          rc='0'
          curl --verbose --connect-timeout 5 https://secrets.kyndryl.net/v1/sys/health || rc="$?"
          if [ "${rc}" -ne '0' ]; then
            sudo apt-get install traceroute
            hostname
            /usr/sbin/ifconfig
            dig +short secrets.kyndryl.net
            traceroute secrets.kyndryl.net
            sudo traceroute --max-hops=60 --tcp --port=443 secrets.kyndryl.net
          fi
          exit "${rc}"
